<h1>List of people</h1>

<table *ngIf="persons$ | async as persons" mat-table [dataSource]="persons" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Birthdate Column -->
    <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef> Birthdate </th>
        <td mat-cell *matCellDef="let element"> {{(element.birthdate === 'NA' ? '' : element.birthdate) | date : 'MMM d, y'}} </td>
    </ng-container>

    <!-- Address count Column -->
    <ng-container matColumnDef="addressCount">
        <th mat-header-cell *matHeaderCellDef> Address count </th>
        <td mat-cell *matCellDef="let element"> {{element.addresses.length || 0}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" (click)="addPerson()">Add new person</button>