<h1>Add person form</h1>

<form autocomplete="off" class="main-form" [formGroup]="addUserForm">
    <app-general-info-form [childForm]="generalInfoFormGroups"></app-general-info-form>
    <div class="addresses-list">
        <app-address-form *ngFor="let childForm of addressesFormArray.controls; let i = index" 
            [childForm]="childForm" 
            [countries]="countries$ | async" 
            [cities]="cities$ | async"
            [addressIndex]="i"
            [addressCount]="addressesFormArray.length"
            (onCountryChange)="readCities($event)"
            (onRemoveAddress)="removeAddress($event)">
        </app-address-form>
    </div>
</form>

<div class="actions">
    <button mat-raised-button color="primary" (click)="addAddress()">Add address</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!addUserForm.valid" (click)="submitForm()">Save</button>
</div>